#root {
  margin: 0;
  padding: 0;
}
.modal{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  height: 30vh;
  width: 30vh;
  background-color: white;
  position: absolute;
  z-index: 2;
  top: 5%;
  right: 5%;
}
